*{
	margin: 0;
	padding: 0;
}
.header{
	background: #2C2C2C;
	position: sticky;
	top: 0;
}

.container{
	width: 1110px;
	margin: 0 auto;
}

.container_header{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo{
	display: flex;
	align-items: center;
}

.header__logo__img{
	margin-right: 28px;
	margin: 10px;
}

.header__logo__title{
	color: #E4E4E4;
}

.nav__list{
	display: flex;
	margin-right: 63px;
	list-style: none;
	font-size: 18px;
    font-family: Nico Moji;
}

.nav__link{
	margin-right: 63px;
	color: #E4E4E4;
	text-decoration: none;
}

.hero-block{
	background: #2C2C2C;
}

.container_hero-block{
	display: flex;
	align-items: center;
	padding: 45px 0;
}

.hero-block__img{
	margin-right: 56px;
}

.hero-block__title{
    font-size: 72px;
    font-family: Mukta Mahee;
	color: #FFF;
	margin-bottom: 30px;
}

.hero-block__text{
    color: #FFF;
    font-size: 24px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 30px;
}

.hero-block__btn{
	border-radius: 6px;
    background: var(--orange, linear-gradient(135deg, #E2A300 0%, #E29500 100%));
    box-shadow: 0px 2px 13px 0px rgba(226, 158, 0, 0.48);
    color: #000;
    font-size: 18px;
    font-family: Nico Moji;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    padding: 12px 15px;
}

.about{
	background: #3E3E3E;
}

.container_about{
	padding: 70px 0;
}

.about__title{
	color: #E4E4E4;
    font-size: 48px;
    font-family: Nico Moji;
    text-align: center;
    margin-bottom: 50px;
}

.about__content{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.about__name{
	color: #E4E4E4;
    font-size: 30px;
    font-family: Nico Moji;
    margin-bottom: 72px;
}

.about__text{
	color: #E4E4E4;
    font-size: 30px;
    font-family: Nico Moji;
    margin-right: 130px;
}

.video{
	background: #2C2C2C;
	padding: 70px 0 134px 0;
}

.video__title{
	color: #E4E4E4;
    font-size: 48px;
    font-family: Nico Moji;
    text-align: center;
    padding-bottom: 40px;
}

.video_border{
	max-width: 970px;
    width: 970px;
    height: 600px;
    border-radius: 29px;
    background: var(--gray-2, linear-gradient(135deg, #414141 0%, #2D2D2D 100%));
    box-shadow: 0px 4px 15px 0px rgba(27, 27, 27, 0.28);
    margin: 0 auto;
}

.container_video{
	width: 881px;
    height: 511px;
    margin: auto;
}

.video_content{
	width: 881px;
    height: 511px;
    margin-top: 44px;
    border-radius: 9px;
}

.gallery{
	background: #3E3E3E;
	padding: 35px 0 70px 0;
}

.gallery_title{
	color: #E4E4E4;
    font-family: Nico Moji;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-bottom: 64px;
}

.gallery_list{
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	max-width: 1200px;
	justify-content: space-between;
	list-style: none;
	margin: 0 auto;
}

.gallery_item{
	width: 32%;
}

.gallery_img{
	width: 100%;
	height: 356px;
	object-fit: cover;
	margin-bottom: 22px;
}

.footer{
	background: #2C2C2C;
	padding: 35px 0;
}

.footer_container{
	display: flex;
	max-width: 1100px;
	margin: 0 auto;
	justify-content: space-between;
}

.footer_title{
	color: #FFF;
    font-family: Mukta;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer_text{
	color: #FFF;
    font-family: Nico Moji;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.footer_list{
    list-style: none;
    display: flex;
    width: 230px;
    justify-content: space-between;
}